footer{
    display: flex;
    background-color: grey;
    padding: 4rem;
    ul{
        list-style: none;
        display: flex;      
        flex-direction: row;
        margin: 0 auto;

        li{
            img{
                    display: flex;
                    margin: 0 auto;
                    width: 5rem;
                    padding: 10px;
                    }
                                   
           a{
            text-decoration: none;
            color: black;
            padding: 1rem;
            text-align: center;
            &:hover{ 
                color:lightgray;
                font-weight: bold;
                -webkit-transform: scale(.5);
                transform: scale(1.5);
            }
            }   
            } 
        }
    }


