@media (max-width: 850px) {
    header {
        flex-direction: row;
        header img {
        width: 200px;
    }
}
}
    h1 {
        width: 100%;
    }



@media (max-width: 680px) {
    header {
        flex-direction: column;
           header img {
                 width: 150px;
    }
 }
 }
    h1 {
        width: 100%;
}
@media (max-width: 320px) {

    header {
        flex-direction: column;
            header img {
            width: 150px;
    }
}
}
    h1 {
        width: 100%;
    }
